<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>팀 / 개인 순위</title>
  <link href="/normalize.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="team-league">
      <ul class="list">
        <li class="selected">
          <span class="menu">팀순위</span>
        </li>
        <li>
          <span>개인순위</span>
        </li>
      </ulc>
    </div>
    <div class="league text-center">
      <ul class="list">
        <li class="epl selected">
          <span class="menu">
            <img src='<%=logo.response[5].league.logo %>'>
            <span class="title">프리미어리그</span>
          </span>
        </li>
        <li class="primera">
          <span class="menu">
            <img src='<%=logo.response[10].league.logo %>'>
            <span class="title">라리가</span>
          </span>
        </li>
        <li class="bundesliga">
          <span class="menu">
            <img src='<%=logo.response[6].league.logo %>'>
            <span class="title">분데스리가</span>
          </span>
        </li>
        <li class="seria">
          <span class="menu">
            <img src='<%=logo.response[7].league.logo %>'>
            <span class="title">세리에</span>
          </span>
        </li>
        <li class="league1">
          <span class="menu">
            <img src='<%=logo.response[2].league.logo %>'>
            <span class="title">리그1</span>
          </span>
        </li>
      </ul>
    </div>
    <div class="season">
      <h4>
        <span>
          <%= epl_rank.season %> / <%= epl_rank.season + 1 %> 팀 순위
        </span>
      </h4>
    </div>
    <div class="rank text-center">
      <table class="table table-borderless">
        <thead class="table-secondary">
          <tr>
            <th class="w-5" scope="col">순위</th>
            <th class="w-20" style="text-align: left;" scope="col">팀</th>
            <th class="w-5" scope="col">경기수</th>
            <th class="w-5 selected" scope="col">승점</th>
            <th class="w-5" scope="col">승</th>
            <th class="w-5" scope="col">무</th>
            <th class="w-5" scope="col">패</th>
            <th class="w-5" scope="col">득점</th>
            <th class="w-5" scope="col">실점</th>
            <th class="w-5" scope="col">득실차</th>
          </tr>
        </thead>
        <tbody class="tb-epl">
          <% epl_rank.standings.forEach((outerArray)=> {
            outerArray.forEach((rank) => {
            %>
            <tr>
              <th scope="row">
                <%= rank.rank %>
              </th>
              <td><img class="team-logo" src="<%= rank.team.logo %>" alt="<%= rank.team.name %> Logo" width="25px">
                <%= rank.team.name %>
              </td>
              <td>
                <%= rank.all.played %>
              </td>
              <td class="selected">
                <%= rank.points %>
              </td>
              <td>
                <%= rank.all.win %>
              </td>
              <td>
                <%= rank.all.draw %>
              </td>
              <td>
                <%= rank.all.lose %>
              </td>
              <td>
                <%= rank.all.goals.for %>
              </td>
              <td>
                <%= rank.all.goals.against %>
              </td>
              <td>
                <%= rank.goalsDiff %>
              </td>
            </tr>
            <% }); }); %>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    $('.epl').click(function () {
      $.ajax({
        url: '/epl',
        type: GET
      })
      if ($('.tb-epl').hasClass('inv')) {
        $('.tb-epl').removeClass('inv');
      }
      $('tbody').not('.tb-epl').addClass('inv');
      $(this).addClass('selected');
      $('li').not('.epl').removeClass('selected');

      console.log('epl 선택');
    });

    $('.primera').click(function () {
      $.ajax({
        url: '/primera',
        type: GET
      })
      if ($('.tb-primera').hasClass('inv')) {
        $('.tb-primera').removeClass('inv');
      }
      $('tbody').not('.tb-primera').addClass('inv');
      $(this).addClass('selected');
      $('li').not('.primera').removeClass('selected');

      console.log('primera 선택');
    });

    $('.bundesliga').click(function () {
      if ($('.tb-bundesliga').hasClass('inv')) {
        $('.tb-bundesliga').removeClass('inv');
      }
      $('tbody').not('.tb-bundesliga').addClass('inv');
      $(this).addClass('selected');
      $('li').not('.bundesliga').removeClass('selected');

      console.log('bundesliga 선택');
    });

    $('.seria').click(function () {
      if ($('.tb-seria').hasClass('inv')) {
        $('.tb-seria').removeClass('inv');
      }
      $('tbody').not('.tb-seria').addClass('inv');
      $(this).addClass('selected');
      $('li').not('.seria').removeClass('selected');

      console.log('seria 선택');
    });

    $('.league1').click(function () {
      if ($('.tb-league1').hasClass('inv')) {
        $('.tb-league1').removeClass('inv');
      }
      $('tbody').not('.tb-league1').addClass('inv');
      $(this).addClass('selected');
      $('li').not('.league1').removeClass('selected');

      console.log('league1 선택');
    });
  </script>
  <script>
    
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>